.container{
    --transition-duration: 200ms;

    max-width: max-content;
    cursor: pointer;
    transition: transform var(--transition-duration);
}

.container:hover {
    transform: translateY(-3px);

}

.container:focus{
    outline: none;
}

.container-inner{
    position: relative;
    overflow: clip;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 15px;
    border-radius: 10000px;
    transition: box-shadow var(--transition-duration);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
}

.container:hover .container-inner,
.container:focus .container-inner{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.62);
}

.container-bg{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 110%;

    opacity: 30%;

    transition: opacity var(--transition-duration);
}

.container:hover .container-bg,
.container:focus .container-bg{
    opacity: 70%;
}