.timeline-panel{
    --main-point-size: 40px;

    background: #dadada;
}

.timeline-panel-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-row{
    display: contents;
}

.grid-full-row{
    grid-column: 2 / -1;
}

.year-line-height-box{
    --year-line-height: 1;

    grid-row: span var(--year-line-height)
}

.single-point-track{
    --single-point-size: var(--main-point-size);

    height: var(--single-point-size);
    width: var(--single-point-size);
    border-radius: var(--single-point-size);
    background: blue;
}