.timeline-panel{
    --main-point-size: 40px;

    background: #dadada;
    height: 100%;
    width: 100%;

    padding: 1rem
}

.timeline-panel-grid{
    --time-panel-columns: 1;

    display: grid;
    grid-template-columns: max-content auto repeat(var(--time-panel-columns), 60px);
}

@media screen and (max-width: 639px) {
    .timeline-panel-grid{
        --time-panel-columns: 1;

        display: grid;
        grid-template-columns: max-content auto repeat(var(--time-panel-columns), 0);
    }
}

.grid-row{
    display: contents;
}

.year-text{
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0.7;
}

.year-line-holder{
    color: transparent;
    user-select: none;
    font-size: 1.5rem;
}